*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgray;
}
/* a{
    cursor: pointer;
} */
.first{
    height: 100vh;
}
nav{
    display: flex;
    background-color: #213b52;
    width: 100%;
    margin: auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 125px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav .left{
    display: flex;
    margin-left: 25px;
    gap: 25px;
    color: #fff;
}
nav .left p{
    font-size: 25px;
    margin-top: 5px;
}
nav .left i{
    font-size: 30px;
    margin-bottom: 20px;
}
nav .right i{
    display: none;
    z-index: 10;
    color: #fff;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 30px;
    margin-right: 55px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.home{
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}
.home h1{
    display: block;
    font-size: 3.5em;
    margin-block-end: 0.67em;
    line-height: 5rem;
}
.home button{
    border: 1px solid;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    background-color: #213b52;
}
.home button a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* ABOUT ME */
section{
    display: flex;
    padding: 2rem 0 4rem;
    height: 80vh;
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 2rem;
}
section h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #213b52;
}
.pics{
    display: grid;
    gap: 1.5rem;
    width: 50%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.pics img{
    width: 50%;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}
.text{
    margin-top: 5rem;
    width: 50%;
    text-align: center;
}
.text p, 
.text h2{
    margin-bottom: 2.5rem;
}
.text p{
    font-size: 20px;
}
.text button{
    border: 1px solid;
    border: none;
    padding: 6px 25px;
    border-radius: 100px;
    background-color: #213b52;
    color: #fff;
}
/* MY SERVICES */
.services{
    display: block;
    height: 85vh;
    text-align: center;
    padding-top: 100px;
}
.body{
    width: 90%;
    display: flex;
    gap: 2rem;
    margin-left: 70px;
}
.head h2, 
.head p,
.body i{
    padding-bottom: 20px;
}
.head h2{
    color: #213b52;
    font-size: 35px;
}
.head p{
    font-size: 25px;
}
.body i{
    padding-top: 0;
    font-size: 30px;
}
.body p{
    font-size: 20px;
}
/* MY PROJECTS */
.projects{
    width: 100%;
    padding-top: 6rem;
    display: block;
    height: fit-content;
}
.projects .icon{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.projects .icon i{
    font-size: 30px;
}
.projects h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    display: block;
    font-size: 2em;
}
.projects .bod{
    display: block;
    margin: auto;
    height: auto;
}
.projects .one{
    display: flex;
}
.projects .two{
    display: flex;
}
.projects .main{
    padding-bottom: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}
.projects .main img{
    width: 50%;
}
.projects .main h2{
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
}
.projects .main p{
    margin-top: 0.5rem;
    font-weight: 600;
}
.projects button{
    border: 1px solid;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    margin-left: 38rem;
    margin-top: 1rem;
    background-color: #213b52;
}
.projects button a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* CONTACT ME */
.reach{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20rem;
}
.contact{
    height: 90vh;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.contact .cont{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.contact .cont i{
    font-size: 30px;
    font-weight: 900;
}
.contact .info{
    display: flex;
    gap: 20px;
    margin-bottom: 3rem;
}
.lefty .info i{
    font-size: 30px;
}
.lefty .info a{
    text-decoration: none;
    cursor: pointer;
}
.lefty h3{
    margin-bottom: 0.5rem;
}
.lefty{
    position: relative;
    min-height: 1px;
    padding-top: 22px;
}
.contact form{
    height: auto;
    display: flex;
    flex-flow: column;
    width: 40%;
    position: relative;
    min-height: 1px;
}
.contact form input, 
textarea{
    margin-bottom: 0.5rem;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 1rem;
    outline: none;
}
/* FOOTER */
footer{
    display: block;
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    border-top: 1px solid #999;
}
footer .foot{
    text-align: center;
}
footer .foot i{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 1rem;
}
.copyright p{
    display: block;
    text-align: center;
}
.copyright a{
    text-decoration: none;
    cursor: pointer;
}














/* MEDIA QUERIES */
@media (max-width: 1000px){
    nav{
        display: block;
        width: 100%;
        margin: auto;
    }
    nav ul{
        display: none;
    }
    nav #links{
        z-index: 5;
        display: none;
        position: absolute;
        top: 0;
        left: 1;
        background-color: white;
        width: 50vw;
        height: 45vh;
        margin-top: 7rem;
    }
    nav #links ul{
        display: block;
        color: #525252;
        width: 90%;
        height: 25vh;
        padding: 15px;
        margin: 0;
    }
    nav #links ul li a{
        display: block;
        font-size: 18px;
        margin-top: 1.5rem;
    }
    nav ul li a{
        color: blue;
    }
    #menu{
        display: block;
        font-size: 35px;
        margin-left: 17.5rem;
        margin-top: -1.8rem;
    }
    #close{
        font-size: 35px;
        margin-left: 17.5rem;
        margin-top: -1.8rem;
    }
    .home{
        padding-top: 8rem;
    }
    .home h1{
        font-size: 2em;
        line-height: 3rem;
    }
    section{
        display: block;
        padding: 0;
        padding-top: -5rem;
    }
    .pics{
        width: 100%;
        margin: auto;
    }
    .text{
        width: 100%;
        margin: auto;
        /* padding-left: 4rem; */
        text-align: center;
    }
    .text p,
    .text h2{
        margin-bottom: 1.5rem;
    }
    .body{
        display: block;
        margin-left: 30px;
        width: 80%;
    }
    .body i{
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .projects{
        padding-top: 1rem;
    }
    .contact{
        padding-top: 0px;
        height: 100vh;
    }
    .reach{
        display: block;
    }
    footer{
        width: 100%;
    }
    .projects button{
        margin-left: 7.5rem;
        margin-bottom: 3rem;
    }
    .projects{
        width: 100%;
    }
    .contact form{
        width: 100%;
    }
}
