*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCFCFC;
    overflow-x: hidden;
}
.first{
    height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 125px;
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
}
nav .left{
    display: flex;
    gap: 15px;
}
nav .right i{
    display: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 30px;
}
nav ul li a{
    /* color: #fff; */
    text-decoration: none;
    cursor: pointer;
}
.home{
    /* height: calc(100vh - 10.5rem); */
    /* gap: 4rem; */
    padding: 0 2rem;
    /* background-color: #0F9F6E; */
    /* width: 100%; */
}
.home h1{
    display: block;
    font-size: 3.5em;
    /* margin-block-start: 0.67em; */
    margin-block-end: 0.67em;
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    /* font-weight: bold; */
    line-height: 5rem;
}
.home button{
    border: 1px solid;
    padding: 6px 25px;
    border-radius: 100px;
    background-color: #213b52;
}
.home button a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* ABOUT ME */
section{
    display: flex;
    padding: 2rem 0 4rem;
    height: 80vh;
}
section h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.pics{
    display: grid;
    gap: 1.5rem;
    width: 50%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.pics img{
    width: 50%;
    /* height: auto; */
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}
.text{
    margin-top: 5rem;
    width: 50%;
    text-align: center;
}
.text p, 
.text h2{
    margin-bottom: 2.5rem;
}
.text button{
    border: 1px solid;
    padding: 6px 25px;
    border-radius: 100px;
    background-color: #213b52;
    color: #fff;
}
/* MY SERVICES */
.services{
    display: block;
    height: 80vh;
    border-top: 1px solid #f5f5f5;
    /* border-bottom: 1px solid #f5f5f5; */
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 50px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
/* .head, .body{
    /* position: relative; */
    /* min-height: 1px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; 
}*/
.body{
    width: 90%;
    display: flex;
    gap: 2rem;
    margin-left: 70px;
}
.head h2, 
.head p,
.body i{
    padding-bottom: 20px;
}
.body i{
    padding-top: 0;
    font-size: 30px;
}
/* MY PROJECTS */
.projects{
    width: 100%;
    padding-top: 6rem;
    display: block;
    height: 100vh;
}
.projects .icon{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.projects .icon i{
    font-size: 30px;
}
.projects h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    display: block;
    font-size: 2em;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
.projects .bod{
    display: block;
    /* flex-flow: row wrap; */
    /* width: 90%; */
    margin: auto;
    height: auto;
    /* margin-left: 25rem; */
}
.projects .main{
    padding-bottom: 2rem;
    border: 1px solid rgba(220, 226, 238, 0.71);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}
.projects .main h2{
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
}
.projects .main p{
    margin-top: 0.5rem;
    font-weight: 600;
}
.projects button{
    border: 1px solid;
    padding: 6px 25px;
    border-radius: 100px;
    margin-left: 40rem;
    margin-top: 1rem;
    background-color: #213b52;
}
.projects button a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* CONTACT ME */
.reach{
    /* display: grid; */
    /* gap: 1.5rem; */
    /* row-gap: 3rem; */
    /* max-width: 80%; */
    margin-left: 3rem;
    display: flex;
    gap: 25rem;
    margin-right: 1.5rem;
}
.contact{
    /* padding: 2rem 0 4rem; */
    /* display: block; */
    height: 90vh;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    /* display: block; */
    margin-bottom: 3rem;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
.contact .cont{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.contact .cont i{
    font-size: 30px;
    font-weight: 900;
}
.contact .info{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}
.lefty .info i{
    font-size: 30px;
}
.lefty .info a{
    text-decoration: none;
    cursor: pointer;
}
.lefty h3{
    margin-bottom: 0.5rem;
}
.lefty{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 22px;
}
.contact form{
    height: auto;
    /* border-radius: 10px; */
    /* padding-top: 2rem; */
    /* margin-top: 3rem; */
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* padding-top: 32px; */
}
.contact form input, 
textarea{
    margin-bottom: 0.5rem;
    /* width: 80%; */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 1rem;
    outline: none;
}
/* FOOTER */
footer{
    display: block;
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    border-top: 1px solid #999;
}
footer .foot{
    text-align: center;
}
footer .foot i{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 1rem;
}
.copyright p{
    display: block;
    text-align: center;
}
.copyright a{
    text-decoration: none;
    cursor: pointer;
}
/* MEDIA QUERIES */
@media (max-width: 1000px){
    /* nav{
        width: 100%;
        /* padding-top: 1.5rem; */
        /* display: flex; */
        /* justify-content: space-between; */
        /* transition: all 1s; */
        /* position: fixed;
    } */
    nav ul{
        display: none;
    }
    nav .right i{
        display: block;
        font-size: 20px;
    }
    .home h1{
        font-size: 2em;
        line-height: 3rem;
    }
    section{
        display: block;
        padding: 0;
        padding-top: -5rem;
        /* padding-left: 8rem; */
    }
    .pics{
        width: 80%;
    }
    .text{
        width: 80%;
        padding-left: 4rem;
        text-align: center;
    }
    .text p,
    .text h2{
        margin-bottom: 1.5rem;
    }
    .body{
        display: block;
        margin-left: 30px;
        width: 80%;
    }
    .body i{
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .projects{
        padding-top: 1rem;
    }
    .contact{
        padding-top: 0px;
        height: 100vh;
    }
    .reach{
        display: block;
    }
    footer{
        width: 100%;
    }
    .projects button{
        margin-left: 4rem;
    }
    .projects{
        width: 100%;
    }
}
